body, html{
    position: relative;
    font-family: "Raleway" !important;
    height: 100%;
    margin: 0; 
}
.row{
    height: 800px;
    position: relative;
    margin-bottom: 20px;
    padding-top: 50px;
}
/* Landing page */
#landingpage{
    animation: fade-slide-down 2s .5s cubic-bezier(0, .5, 0, 1) forwards;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0),rgba(0, 0, 0, .8)),
    url(../images/landingbg.jpg) no-repeat bottom;
    background-size: cover;
    opacity: 0;
    content: "";
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding-top: 150px;
    text-align: center;
    color: #ffffff;
    border: 0;
}

#landingpage:after{
    animation: rotate-up .5s .5s cubic-bezier(0, .5, 0, 1) forwards;
    background: #f9fcff;
    content: "";
    height: 40rem;
    left: -5%;
    position: absolute;
    right: -5%;
    top: 90%;
    transform-origin: 0 0;
    z-index: 0;

}
@keyframes fade-slide-down{
    0%{
        opacity: 0;
        transform: translate(-4rem);
    }
    100%{
        opacity: 1;
        transform: none;
    }
}
@-webkit-keyframes fade-slide-down{
    0%{
        opacity: 0;
        transform: translate(-4rem);
    }
    100%{
        opacity: 1;
        transform: none;
    }
}
@keyframes pop-in{
    0%{
        opacity: 0;
        transform: translate(-4rem)scale(.8);
    }
    100%{
        opacity: 1;
        transform: none;
    }
}
@-webkit-keyframes pop-in{
    0%{
        opacity: 0;
        transform: translate(-4rem)scale(.8);
    }
    100%{
        opacity: 1;
        transform: none;
    }
}
@keyframes rotate-up{
    100%{
        transform: rotateZ(-4deg);
    }
}
@-webkit-keyframes rotate-up{
    100%{
        transform: rotateZ(-4deg);
    }
}
.animate-pop-in{
    animation: pop-in .6s cubic-bezier(0, .9, .3, 1.2) forwards;
    opacity: 0;
}
.seq1{
    animation-delay: 1s;
}
.seq2{
    animation-delay: 1.2s;
}

#landingpage span{
    color: #c3095f;
    font-weight: bold;
    
}
#landingpage .btn-home{
    border-radius: 0;
    border: 3px solid #ffffff;
    padding: 10px 20px;
    width: 200px;
    animation-delay: 1.4s;
}
#change-icon > .fa + .fa,
#change-icon:hover > .fa {
  display: none;
}
#change-icon:hover > .fa + .fa {
    display: inherit;
}
.btn-home i{
    float: right;
    color: #ffffff;
    font-size: 20px;
    padding-top: 10px;
}
.btn-home h4{
    color: #ffffff !important;
}
.btn-home a{
    color: #ffffff !important;
}
#landingpage .btn-home:hover{
    color: #ffffff !important;
    background-color: #04C2C9;
    border-color: #04C2C9;
    transition : all 0.5s ease 0s;
}

/* main navigation */
.navbar {
    margin-bottom: 0px;
}
nav a{
    font-size: 16px !important;
}
.navbar-inverse{
    border-radius: 0 !important;
    padding: 5px 10px;
    background: transparent !important;
    border-bottom: 5px solid #04C2C9 !important;
    background-color: #1B242F !important;
}
.navbar-inverse li a{
    color: #ffffff !important;
}
nav img{
    width: 75px;
    height: 60px;
}
.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
}
.affix ~ .container-fluid {
    position: relative;
    top: 50px;
 }

.active a{
    color: #c3095f !important;
    background-color: #1B242F !important;
}
.active a:after{
	content: '';
	border-bottom: 2px solid #c3095f;
	display: block;
	width: 100%;
	position: relative;
    top: 8px;
    color: #c3095f !important;
}
 /* footer */
.site-footer{
    height: 220px;
    width: 100%;
    background-color: #1B242F;
    position: relative;
    margin-top: 0;
}
.row-footer{
    width: 100%;
    height: 90px !important;
}
.btn-lg{
    border-radius: 0 !important;
    border: .5px solid #B80659;
    background-color: #c3095f;
    color: #ffffff !important;
    width: 50px;
    margin-top: -10px;
    float: right !important;
}
.btn:hover{
    color: #ffffff !important;
    background-color: #B80659;
}
i{
    display: block;
    float: left;
}
.col{
    margin-bottom: 20px;
}
.social-links{
    height: auto;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    float: left;
    margin-bottom: 10px;
}
.social-links a{
    margin: 0 10px;
    text-align: center;
    font-size: 20px;
}
.social-links .btn{
    background-color: #262F38;
    color: #ffffff;
    border-radius: 0;
    width: 50px;
    height: 50px;
    padding-top: 10px;
}
.social-links .btn:hover{
    background-color: #04C2C9;
    color: #ffffff;
    transition : all 0.3s ease-in-out 0s;
}
.foot-note{
    height: auto;
    width: 100%;
    text-align: center;
    color: #ffffff;
    padding-top: 20px;
    float: left;
}
.foot-note span{
    color: #c3095f;
}

/* main content */
.sections h1{
    position: relative;
    text-align: center;
    -webkit-animation: slideInLeft 3s; /*Safari 4.0 - 8.0 */
    animation: slideInLeft 3s;
}

.box{
    width: 70px;
    height: 4px;
    min-width: auto;
    min-height: auto;
    text-align: center;
    margin: 25px auto 80px auto;
    display: block;
    background-color: #444649;
}
/* about section */
#me{
    height: 250px;
    width: 280px;
    border-radius: 50%;
    position: center;
    min-height: auto;
    min-width: auto;
}
.aboutme{
    padding: 5px;
    text-align: center;
}
.content-wrapper{
    width: 100%;
    height: auto;
    margin: 0;
    line-height: 1.5;
    font-family: "Raleway";
    font-size: 16px;
    color: #666666;
}
.content-wrapper h3{
    font-weight: bold;
    color: #c3095f;
    margin-bottom: 20px;
}
.skills{
    padding: 20px;
}
#tools-wrapper{
    width: 100%;
    height: auto;
    padding: 0 20px 0 50px;
}
.skills img{
    width: 85px;
    height: 75px;
    margin: 0 10px 25px 10px;
    border-radius: 25%;
}
.skills h3{
    text-align: left;
}
/* portfolio section */
#portfolio{
    background-color: #f6f6f6;
    margin-bottom: 0;
    height: auto;
    padding-bottom: 70px;
}
.portfolio1 .port-img{
    width: 100%;
    height: 100%; 
}

.portfolio2 .port-img{
    width: 100%;
    height: 100%;
}
.portfolio3 .port-img{
    width: 100%;
    height: 100%;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
  }
  
  .portfolio1:hover .overlay,
  .portfolio2:hover .overlay,
  .portfolio3:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .5);
  }
  .title {
    position: absolute;
    width: 500px;
    left: 40px;
    top: 120px;
    font-weight: 700;
    font-size: 26px;
    text-align: center;
    color: #ffffff;
    z-index: 1;
    transition: top 1s ease;
    opacity:  0;
  }
  
  .portfolio1:hover .title,
  .portfolio2:hover .title,
  .portfolio3:hover .title {
    top: 70px;
  }
  
  .button {
    position: absolute;
    width: 200px;
    left: 190px;
    top: 130px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
    text-align: center;
    border: 3px solid #ffffff;
    padding: 12px 48px;
    z-index: 1;
    color: #ffffff;
    background: transparent;
  }  
  .portfolio1:hover .button,
  .portfolio1:hover .title,
  .portfolio2:hover .button,
  .portfolio2:hover .title,
  .portfolio3:hover .button,
  .portfolio3:hover .title{
    opacity: 1;
  }
.portfolio1 .button:hover,
.portfolio2 .button:hover,
.portfolio3 .button:hover{
    background-color: #c3095f;
    color: #ffffff;
    border-color: #c3095f;
    transition : all 0.3s ease-in-out 0s;
}
#myModal{
    top: 80px;
}
#myModal1{
    top: 80px;
}
#myModal2{
    top: 80px;
}
.modal-body{
    padding: 0 !important;
    border-bottom: 4px solid #1B242F;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 80%;
    margin: auto;
    height: 240px !important;
}

.port-info{
    width: 100%;
    height: auto;
    padding: 5px 10px;
}
.port-title{
    border-bottom: 3px solid #e3e3e3;
    margin-bottom: 8px;
    text-align: left;
}
.small-title{
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    display: none;
    color: #000000;
    position: relative;
    top: -100px;
}
.logos{
    margin-top: 100px;
}
.logos img{
    width: 390px;
    height: 300px;
    cursor: pointer;
    transition: 0.3s;
    opacity: 0.7;
    filter:alpha(opacity=40);
}
.logos img:hover{
    opacity: 1.0;
    filter:alpha(opacity=100);
}


/* contact section */
#contact{
    background-color: #252934;
    margin-top: 0 !important;
    height: 1100px;
    text-align: center;
}
#contact h1{
    color: #ffffff;
}
#contact .box{
    background-color: #ffffff;
}

.col-button button{
    text-align: center;
    width: 120px;
    height: 60px;
    background-color: #1E242C;
    border: 2px solid #ffffff;
    float: right;
}
.col-button button:hover{
    background-color: #04C2C9;
    color: #ffffff;
    transition : all 0.3s ease-in-out 0s;
}
.well{
    background-color: #252934 !important;
    border: none !important;
}
.form-control{
    background-color: #1E242C !important;
    border: none !important;
    color: #ffffff !important;
}
#contact a{
    width: 250px;
    height: 80px;
    padding: 20px 50px 20px 30px;
    text-align: center;
    font-size: 26px;
    color: #ffffff;
    border: 3px solid #ffffff;
    margin-top: 20px;
    background-color: #1E242C;    
}
#contact a:hover{
    transition : all 0.3s ease-in-out 0s;
    background-color: #04C2C9;
    border: 3px solid #04C2C9;
}
#contact h2{
    color: #ffffff !important;
}
/* Submit Button CSS Styles */

.wpcf7 input[type=submit] {
    width: 200px;
    height: 70px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    font-size: 26px;
    color: #ffffff;
    border: 3px solid #ffffff;
    margin-top: 20px;
    background-color: #1E242C; 
}
.wpcf7 input[type=submit]:hover{
    transition : all 0.3s ease-in-out 0s;
    background-color: #04C2C9;
    border: 3px solid #04C2C9;
}

/* Label Text Styles */

.wpcf7 label {
    padding: 0 0 10px 0;
     font-size: 15px;
 }

 /* Text Input Field Styles */

.wpcf7 input[type=text], .wpcf7 input[type=email], .wpcf7 input[type=url], .wpcf7 input[type=tel], .wpcf7 input[type=number], .wpcf7 .wpcf7-select {
    font-size:20px;
    background-color: #1B242F;
    border: none;
    padding: 10px;
}
.wpcf7-textarea{
    background-color: #1B242F;
    border: none;
    padding: 10px;
    width: 460px;
}
.wpcf7 input[type=text],
.wpcf7 input[type=email],
.wpcf7-textarea:focus{
    color: #ffffff;
}
/* Change input field styles when click into (on focus) */

.wpcf7 input[type=text]:focus, .wpcf7 input[type=email]:focus, .wpcf7 input[type=tel]:focus {
    border: .5px solid #ffffff;
 }
 .wpcf7 input[type=text]:active, .wpcf7 input[type=email]:active, .wpcf7 input[type=tel]:active {
    background-color: #1B242F;
 }


/* Responsive Styling */

@media only screen and (min-width:150px) and (max-width:700px) {
    .row{
        height: auto;
    }

    #contact{
        padding: 30px 5px;
    }

    .site-footer{
        height: auto;
    }
    .foot-note{
        font-size: 10px;
    }
    /* ABOUT SECTION RESPONSIVE */
    .skills img {
        width: 43px;
        height: auto;
        margin: 0 5px 25px 5px;
        border-radius: 25%;
    }

    .tools-wrapper {
        width: 100%;
        height: auto;
        padding: 0 20px 0 10px;
    }

    #me {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        position: center;
        min-height: auto;
        min-width: auto;
    }

    /* PORTFOLIO SECTION RESPONSIVE */
    #portfolio{
        height: auto;
    }
    .portfolio-wrapper{
        padding: 0 5px !important;
    }
    .portfolio1{
        width: 100%;
        height: 100%;
        margin-bottom: 8px;
        padding: 0 !important;
    }
    .portfolio2{
        width: 100%;
        height: 100%;
        margin-bottom: 8px;
        padding: 0 !important;
    }
    .portfolio3{
        width: 100%;
        height: 100%;
        margin-bottom: 8px;
        padding: 0 !important;
    }
    .button {
        position: absolute;
        width: 150px;
        left: 120px;
        top: 120px;
        text-align: center;
        opacity: 0;
        transition: opacity .35s ease;
        text-align: center;
        border: 1px solid #ffffff;
        padding: 5px 20px;
        z-index: 1;
        color: #ffffff;
        background: transparent;
        font-size: 16px;
    }
  
    
    .port-img {
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    }
    
    .title {
        position: absolute;
        width: 100%;
        left: -10px;
        top: 90px; 
        font-weight: bold;
        font-size: 14px;
        text-align: center;
        color: #ffffff;
        z-index: 1;
        transition: top 2s ease;
        opacity: 0;
        font-size: 24px;
    }
    .small-title{
        display: block;
    }
    .overlay{
        height: 90%;
    }
    
    .logos img{
        width: 100%;
        height: 100%;
        cursor: pointer;
        transition: 0.3s;
        margin-top: 10px;
    }

    /* CONTACT SECTION RESPONSIVE */

    #contact{
        background-color: #252934;
        margin-top: 0 !important;
        height: 1150px;
        text-align: center;
        margin-bottom: 0; 
    }
    #contact a {
        height: 80px;
        width: 190px;
        padding: 20px 20px 20px 23px;
        text-align: center;
        font-size: 20px;
        color: #ffffff;
        border: 3px solid #ffffff;
        margin-top: 20px;
        background-color: #1E242C;
        margin-right: 10px;
    }

    .btn {
        display: inline-block;
        padding: 6px 10px;
    }

    .social-links{
        padding: 0;
    }
    
    .social-links a {
        margin: 0 1px;
        text-align: center;
        font-size: 11px;
    }
    
    .social-links .btn {
        background-color: #262F38;
        color: #ffffff;
        border-radius: 0;
        width: 30px;
        height: auto;
        padding-left: 10px;
    }

    .wpcf7 input[type=text], .wpcf7 input[type=email], .wpcf7 input[type=url], .wpcf7 input[type=tel], .wpcf7 input[type=number], .wpcf7 .wpcf7-select {
        font-size:15px;
        background-color: #1B242F;
        border: none;
        padding: 10px;
        color: #ffffff;
    }
    .wpcf7-textarea{
        background-color: #1B242F;
        border: none;
        padding: 10px;
        width: 100%;
    }
 
}